/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: 'Roboto';
}
.events-container {
  background-color: #323f4b;
  margin: 0px;
  padding: 30px;
  width: 80%;
}
.events-itemList {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}